<div class="login-container">  
  <div class="welcome-form">
    <h2 class="login-heading">Welcome back!</h2> 

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "email-label" %><br /> 
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email-textbox" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "password-label" %><br /> 
        <%= f.password_field :password, autocomplete: "current-password", class: "password-textbox" %>
      </div>

      <div class="remember-me-field"> 
        <%= f.check_box :remember_me, class: "remember-me-checkbox" %>
        <%= f.label :remember_me, class: "remember-me-label" %>
      </div>

      <%= f.submit "Log in", class: "submit-button" %>

    <% end %>

    <div class="signup-link"> 
      <%= render "devise/shared/links" %>
    </div>
    <div class="forgot-password">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </div>
  </div>

  <%= image_tag "post_box_signin.png", alt: "Post box image", class: "login-image" %>
</div>
